/** 
* This file is modified from the original source code `style.css` in `lhartikk/simple-chess-ai`
*/

// 定义变量
$board-width: 400px;

.board {
    width: $board-width;
    // margin: auto;
}

.move-history {
    height: $board-width;
    overflow-y: scroll;
}

.setting {
    max-width: $board-width;
    margin: auto;
}

img {
    user-select: none;
}